@import url("/css/clear.css");
@import url("/css/highlighting.css");

.secret_quote {
  cursor: help;
}

#menu #logo #h1 {
  font-size: 2.9em;
}

#logo #h2.tagline {
  padding: 8px 0px 3px 20px;
}

.wordcount {
  float: right;
  color: #DDD;
}

a.thickbox img {
  vertical-align: bottom;
}

body {
  font-size: 1em;
}

p {
  text-align: justify;
}

#footer {
  text-align: left;
  font-size: 0.8em;
}

.comments {
  clear: both;
}

/* Sidenotes */
.sidenote {
  float: right;
  margin-left: 15px;
  margin-right: -40px;
  padding-left: 25px;
  padding-right: 25px;
  width: 220px;
  font-size: 80%;
  background-color: #EEE;
}

#main .sidenote ol, #main .sidenote ul {
  margin: 0px 20px;
  padding: 0px;
}

#main .sidenote li {
  font-size: inherit;
  padding: 3px 3px 3px 0px;
}

.sidenote h4 {
  font-size: 130%;
}

/* Gists */
.gist {
  clear: both;
}

.gist .gist-file .gist-meta {
  font-size: 9px !important;
  font-family: Tahoma, Verdana, Arial, serif;
}
.gist .gist-file .gist-data {
  font-size: 9px !important;
}
