---
layout: static
title: home
---
{% for post in site.posts %}
    <div class="post" id="post{{ post.id | replace: '/', '_' }}">
      <h2 class="title">
        <a href="{{ post.url }}/" rel="bookmark">{{ post.title | downcase }}</a>
      </h2>
      <div class="meta">
        <p class="wordcount">{{ post.content | number_of_words }} words</p>
        <p>{{ post.date | date: "%A, %B %d %Y" }}</p>
      </div>
      <div class="entry">
        {% capture post_content %}{{ post.content | truncatewords: 110 | replace: "<div class='sidenote'", "<!-- <div class='sidenote'" }}{% endcapture %}
        {% if post_content contains "</div>" %}
        {{ post_content | replace: "</div>", "</div> -->" }}
        {% else %}
        {{ post_content | replace: "...", "-->..." }}
        {% endif %}
        &raquo; <a href="{{ post.url }}/" rel="bookmark">continue</a>
      </div>
      
      <p class="comments">
      </p>          
    </div>
{% endfor %}
<p align="center">
  <!-- <?php posts_nav_link(' - ','&#171; Newer','Older &#187;') ?> -->
</p>
