  <div id="footer">
    <div class='content'>
        <span><script type="text/javascript"> id=79538; t=2; </script>
        <script type="text/javascript" src="http://kontactr.com/kpu/kontactr.js">&nbsp;</script>
        | <a href="/contact.html" title="My Contacts">My Contacts</a>
        | <a href="/credits.html" title="Site Credits">Credits</a>
        | <a href="/rss/atom.xml" title="RSS Feed">Subscribe to RSS</a></span>
    </div>
    <div class='content'>
      <strong>{{ site.name }}</strong><br />Copyright &copy; {{ site.time | date: "%Y" }} All Rights Reserved
   </div>
  </div>
</body>
</html>
